// The styles here apply across the website and will override any default styles from minimal mistakes
// Check https://github.com/mmistakes/minimal-mistakes/blob/master/_sass/minimal-mistakes/_variables.scss
// to discover the values of the $small, $medium, $large, etc. breakpoints.

html {
  font-size: 16px; // originally 16px

  max-width: 100%;

  @include breakpoint($small) {
    font-size: 16px; // originally 16px
  }

  @include breakpoint($medium) {
    font-size: 14px; // originally 18px
  }

  @include breakpoint($large) {
    font-size: 16px; // originally 20px
  }

  @include breakpoint($x-large) {
    font-size: 18px; // originally 22px
  }
}

h3 blockquote {
  color: green;
}

blockquote {
  margin-inline-start: 1em;
  margin-inline-end: 1em;
}

.breadcrumbs {
  @include breakpoint($large) {
    max-width: 85%;
  }
}

.homepage_heading {
  font-size: 1.5em;
}

.notice,
.notice--primary,
.notice--warning,
.notice--info,
.notice--danger,
.notice--success {
  font-size: inherit !important;
}

/* This is for the navigation menus that show up on the left. The top level parent headings are uppercase by default. */
.nav__sub-title {
  text-transform: capitalize;
}

.btn--newsletter {
  background-color: #0000FF;
  color: #fff !important;
}

.archive__item-teaser img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.archive__item-teaser {
  @include breakpoint($small) {
    max-height: none;
    height: 220px;
  }

  @include breakpoint($medium) {
    max-height: none;
    height: 140px;
  }
}

.footnotes ol,
.footnotes li,
.footnotes p {
  margin-bottom: 0;
  font-size: 1em;
}

a.reversefootnote {
  font-size: 1em;
  font-weight: bolder;
}

.page__hero--overlay {
  padding: 7% 0;
}

.page__hero--overlay .wrapper {
  @include breakpoint($x-large) {
    max-width: 85%;
  }
}

.archive__item-title {
  margin-top: 1em;
}

.archive__subtitle {
  font-size: 1.25em;
  border-bottom: 2px solid #cecfd1;
}

.archive__item-title {
  font-size: 1.17em;
}

.image-container {
  position: relative;
  display: inline-block;
}

.image-credit {
  position: absolute;
  bottom: 0px;
  right: 0px;
  font-size: 7px;
  font-style: italic;
  color: gray;
  opacity: 0.5;
  background-color: #000;
  padding: 2px;
  z-index: 5;
  border-radius: 4px 0 0 0;
  text-align: end;
  inset-inline-end: 0;
  margin: 0 auto;
}

.image-credit a {
  color: gray;
  text-decoration: none;
}

.image-credit a:hover {
  text-decoration: underline;
}