---
# Replaces main.scss when skin/theme toggle button is pressed.
---

$max-width: 85%;

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin2 | default: 'dark' }}"; // skin
@import "minimal-mistakes"; // main 
/*
GS: override any CSS with new CSS styles AFTER the `@import "minimal-mistakes";` line just above!
See: https://github.com/mmistakes/minimal-mistakes/issues/1219#issuecomment-326809412
Anything you place after this point will therefore "cascade and override" the previous CSS styles.
*/
@import "_styleoverrides"; // Style changes for either skin/theme. To change, go to file _styleoverrides.scss in the _sass folder.
/* For any code that must apply to all pages, put it in _styleoverrides.scss. Changes their will apply to either active theme. */

.random-quote-box .btn {
    background: #f21368;
}
